:root {
  --bg: #161616;
  --border: #2e2e2e;
  --text: #F5F3E4;
  --link: #BDC6E9;
  --highlight: #F9CB12;
}

pre {
  overflow: scroll;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-serif;
  color: var(--text);
  background-color: var(--bg);
  word-wrap: break-word;
  line-height: 1.6;
  margin: 0;
}

header {
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
  border-bottom: 1px solid var(--border);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

main { 
  max-width: 600px; 
  padding: 0.5rem 1.2rem 0.5rem 1.2rem; 
  margin-left: 0;
}

footer {
  border-top: 1px solid var(--border); 
  padding: 0.5rem;
  text-align: right;
}

a, a:visited { color: var(--link); }

h1 { font-size: 1.5rem; }


ul { 
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

span { color: #F9CB12; }

i {
  font-size: 0.8rem;
  line-height: 1;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 24px 0px 24px 0px;
}

.hero-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    & div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fbf8ef;
    }
}

.server-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
    background-color: #181817;
    border: 1px solid var(--border);

    & img { margin-bottom: 8px; }
    & p { margin: 0; }
}

.cv-section {
  max-width: 100%; 
  margin: 2rem 0;
  border-top: 1px solid var(--border);
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.cv-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* Snyggare linjering med årtal */
  margin-bottom: 0.8rem;
}

.cv-text {
  flex: 1;
  padding-right: 15px;
}

.cv-date {
  white-space: nowrap;
  text-align: right;
  font-family: monospace; /* Ger en teknisk känsla som passar din server-stil */
  opacity: 0.8;
}

main a[href^="http"]:where(:not([href*="alfredunenge.se/"]))::after{ content: "↗" }
figure a::after{ content: "" !important }